nav {
 height : 100% ;
 background-color : #000000  }
nav ul {
 overflow: hidden }
nav li {
 list-style-type: none ;
 float : left ; }
nav a {
 display: inline-block;
 text-decoration: none;
 padding: 35px 10px;
 color: #595959 }
  body
{
    background-color: black;
}